@model OnlineShopping.Models.ApplicationUser
@using System.Net.Http
@using OnlineShopping.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create";
}

@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();
}
<br />

<h2 class="text-info">Registration</h2>
<form asp-action="Create" method="post" id="user-form" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <h3>@ViewBag.message</h3><br />
        @*<h2 class="text-warning">Please Use Email in UsereName Box</h2><br />*@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UserName"></label>
            </div>
            <div class="col-5">
                <input asp-for="UserName" class="form-control" />
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-5">
                <input asp-for="FirstName" class="form-control" />
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="LastName"></label>
            </div>
            <div class="col-5">
                <input asp-for="LastName" class="form-control" />
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="Email" class="form-control" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PasswordHash"></label>
            </div>
            <div class="col-5">
                <input asp-for="PasswordHash" class="form-control" type="password" />
            </div>
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            @if (userRole == "Admin")
            {
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            }
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#user-form").validate({
                rules: {
                    UserName: {
                        required: true,
                    },
                    PasswordHash: {
                        required: true,
                    }
                },
                messages: {
                    UserName: "Enter your Email",
                    PasswordHash: "Enter your password"
                }

            });
        });</script>

}

